<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <parameter name="username" value="ealheeh@asaltech.com"/>
 	 <parameter name="password" value="Asal@123"/>  
   <classes>
      <class name="net.openrainbow.test.LoginTest"/>
  <!--     <class name="net.openrainbow.test.openTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
